*.pyc
__pycache__/
venv/
*.env
*.venv

*.jpg
.jpeg

# FastAPI
/.env
/.vscode

# Logs
*.log

# IDEs
.idea/
.vscode/

# Dependency management
/.venv
/pipenv*
/poetry.lock
/pyproject.toml

# Testing
/.coverage
/htmlcov/

# Other
*.swp
.DS_Store