.content{
  padding: 0 200px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
}

.logo > img{
  height: 120px;
}

.search-bar > input{
  height: 40px;
  width: 280px;
  font-size: 20px;
}

.search-bar {
  position: relative;
}

.search-bar-icon{
  position: absolute;
  top: 30%;
  right:5%;
  font-size: 20px;
}

.upload-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.upload-buttons > input{
  visibility: hidden;
}

.upload-buttons > label{
  margin: 20px 0;
  padding: 10px 35px;
  font-size: 20px;
  background-color: bisque;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
  /* opacity: 0.5; */
}

.defaulf{
  text-align: center;
  font-size: 36px;
  opacity: 0.2;
}

.swap{
  margin: 20px 0;
  padding: 5px 40px;
  font-size: 30px;
  background-color: bisque;
  border-radius: 30px;
  border: 2px solid black;
}

.loader{
  text-align: center;
}